<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>
<body>
  <main>
    <section>
      <h3>Cadastre um novo Pokemon</h3>
      
      <form action="/cadastro" method="post">

          <label for="nome">Nome:</label>
          <input type="text" name="nome" id="nome" required>

          <label for="tipo">Tipo:</label>
          <input type="text" name="tipo" id="tipo" required>

          <label for="descricao">Descrição:</label>
          <input type="text" name="descricao" id="descricao" required>

          <label for="altura">Altura:</label>
          <input type="number" name="altura" id="altura" >

          <label for="peso">Peso:</label>
          <input type="number" name="peso" id="peso" >

          <label for="categoria">Categoria:</label>
          <input type="text" name="categoria" id="categoria" required>

          <label for="habilidade">Habilidade:</label>
          <input type="text" name="habilidade" id="habilidade" required>

          
          <label for="evolucao">Evolução:</label>
          <input type="text" name="evolucao" id="evolucao">
          
          
          <label for="imagem">Imagem:(Insira a URL da imagem desejada aqui)</label>
          <input type="url" name="imagem" id="imagem">
          
          <button id="cadastro" type="submit">Cadastrar</button>
      </form>

  </main>
  
  <script src="/js/script.js"></script>



</body>
</html>