<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    <title>Home</title>
  </head>
  <body>
    
    <header>
      <h1>Pokedex</h1>

      <div id="cadastro">
        <a href = "/cadastro">Cadastro</a>
      </div>
      
    </header>
    
    <main>

      <section id="cards">
        
        <% pokedex.forEach((pokemon) => { %>
          
          
          <div class="card">
            
            <a href="<%= pokemon.nome %>/detalhes">
              
            <img src="<%= pokemon.imagem %>" alt="<%= pokemon.nome %>">      
            
          </a>
          
          
          
          <% }) %>
          
          
        </div>
        
      </main>
       
        <div>
          
          <% if(message != "") {  %>
            <section id="message">
                <p><%= message %></p> <span id="close">&times;</span>
            </section>
         <% }  %>

        </div>

        <footer>
          <p>
            < The future is blue /> <a href="https://blueedtech.com.br/" target="_blank"> BlueEdtech</a>
          </p>
</footer>

<script src="/js/script.js"></script>

</body>
</html>