/* Style Home */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"); 

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

main{
  max-width: auto;
  margin: 0 auto;
  min-height: calc(100vh - 60px - 37.59px);
}

section#message {
  padding: 1.5rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

header {
  background-color: rgb(187, 31, 31);
} 

header.container{
  max-width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header h1{
  color: rgb(255, 255, 255);
  font-size: calc(100% + 5vmin);
  height: 100%;
} */

#cadastro{
  top: -10px;
  font-size: 18px
}

/* Retirado de: uiverse.io by @namecho */
header a,
header a::after {
 padding: 16px 20px;
 font-size: calc(60% + 1vmin);
 background: linear-gradient(45deg, transparent 5%, #f52121 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 5;
 box-shadow: 6px 0px 0px #f3e51f;
 outline: transparent;
 position: relative;
}

header a::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

header a:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

/* Fim de: Retirado de: uiverse.io by @namecho */


footer {
    display: flex;
    background-color: #dc0a2d;
    padding: 2rem;
    justify-content: center;
}

footer p {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: .3rem;
}

footer p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

img{
  width: 70%;
}

#cards{
  display: flex;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  justify-content: center;

}


@media (max-width: 400px) {
  #cards{
    flex-direction: column;
  }
}

img {
  object-fit:cover;
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.card {
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
}
.card:hover img {
  opacity:0.3;
}
.card img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

/* Fim Stylus Home */

/* Stylus Cadastro */

section#page_cadastro {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

section#page_cadastro img {
  width: 100%;
}

section#page_cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  color: rgb(109, 109, 109);
}

section#page_cadastro form {
  width: 100%;
}

section#page_cadastro form input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(197, 197, 197);
  margin: 0 1rem 1rem 1rem;
}

section#page_cadastro form label {
  margin: 1rem;
  color: rgb(148, 148, 148);
}

section#page_cadastro form button {

  font-family: inherit;
  font-size: 20px;
  background: rgb(237, 72, 60);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
 }
 
 button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 button:hover span {
  transform: translateX(5em);
 }
 
 button:active {
  transform: scale(0.95);
 }
 
 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }

@media (max-width: 400px) {
  #page_cadastro{
    flex-direction: column;
  }
}

/* Fim Stylus Cadastro */

/* Stylus Detalhes */
